//购物车模块-------------------
#p_mains{
    //上面部分---------------
    .carts_top{
        height: 58px;
        border: 1px solid #c6c6c6;
        margin-top: 15px;
        .le{
            width: 510px;
            height: 100%;
            padding-top: 15px;
            padding-left: 15px;
            span{
                font-size: 14px;
            }
            #sku_val{
                width: 180px;
                height: 26px;
                border: 1px solid #c6c6c6;
                margin-right: 15px;
            }
            #num_val{
                width: 80px;
                height: 26px;
                border: 1px solid #c6c6c6;
            }
            #add_goods_btn{
                width: 66px;
                height: 26px;
                background: #1c3a8b;
                color: white;
                margin-left: 15px;
            }
        }
        //右部分-----------
        .ri{
            width: 500px;
            height: 100%;
            padding-top: 15px;
            span{
                font-size: 14px;
            }
            .select_file{
                width: 260px;
                height: 26px;
                border: 1px solid #C6C6C6;
                #fli{
                    width: 198px;
                    height: 100%;
                    float: left;
                    background: white;
                    cursor: pointer;
                }
                #filbtn{
                    float: right;
                    width: 60px;
                    height: 100%;
                    background: #999;
                    color: white;
                    cursor: pointer;
                }
            }
            #daoru{
                width: 60px;
                height: 26px;
                background: #e52d88;
                color: white;
                margin: 0 15px;
            }
            a{
                font-size: 14px;
                color: deepskyblue;
            }
        }
    }
    //中间部分-------------
    .carts_center{
        height: 600px;
        margin: 10px 0;
        overflow: auto;
        //店铺名称部分---------
        .shop{
            height: 24px;
            p{
                display: inline-block;
                color: #bc338b;
                font-weight: 600;
                margin-right: 15px;
            }
            button{
                width: 88px;
                height: 24px;
                border: 1px solid #dcdcdc;
                background: #f5f5f5;
                border-radius: 3px;
                cursor: pointer;
                &:hover{
                    background: #FEFEFE;
                }
            }
        }
        //表单字段部分-----------
        table{
            height: 36px;
            width: 100%;
            td{
                font-size: 14px;
                text-align: center;
            }
            .td1{
                width: 360px;
            }
            .td2,.td5{
                width: 180px;
            }
            .td3,.td4,.td6,.td7{
                width: 120px;
            }
        }
        //商品清单部分-------------
        .myreceipt_tables{
            width: 100%;
            li{
                width: 100%;
                height: 152px;
                border: 1px solid #e1e9ef;
                margin-bottom: 25px;
                &:hover{
                    background: #EFEFEF;
                    cursor: pointer;
                }
                //头部---------
                .myreceipt-tables-t{
                    height: 37px;
                    background: #f5f8fa;
                    padding: 8px 8px 0 8px;
                    .myreceipt-tables-t-left{
                        height: 100%;
                        font-size: 14px;
                        input,span{
                            cursor: pointer;
                        }
                    }
                    a{
                        font-size: 14px;
                        color: black;
                        &:hover{
                            color: #e52d88;
                        }
                    }
                }
                //清单部分-----------
                table{
                    width: 100%;
                    height: 115px;
                    td{
                        font-size: 14px;
                    }
                    .td1{
                        width: 360px;
                        border-right: 1px solid #e1e9ef;
                        padding-left: 10px;
                        a{
                            margin-right: 20px;
                            img{
                                width: 90px;
                                height: 90px;
                            }
                        }
                        .styles{
                            margin-top: 20px;
                        }
                    }
                    .td2{
                        .cut_num,.add_num{
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            border: 1px solid #C6C6C6;
                            background: #E5E5E5;
                            cursor: pointer;
                            &:hover{
                                color: white;
                                background: #bc338b;
                            }
                        }
                        input[type="text"]{
                            width: 70px;
                            height: 22px;
                            border: 1px solid #C6C6C6;
                            text-align: center;
                        }
                    }
                    .td2,.td5{
                        width: 180px;
                        border-right: 1px solid #e1e9ef;
                    }
                    .td3,.td4,.td6,.td7{
                        width: 120px;
                    }
                    .td3,.td4,.td6{
                        border-right: 1px solid #e1e9ef;
                    }
                    .td5{
                        span{
                            margin-left: 15px;
                        }
                    }
                    .td6{
                        font-size: 18px;
                        color: deeppink;
                    }
                    .td7{
                        color: #359cd8;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
    }
    //下面部分-------------
    .carts_buttom{
        height: 58px;
        border: 1px solid #C6C6C6;
        background: #f5f8fa;        
        .carts_buttom_lefts{
            width: 220px;
            height: 100%;
            padding-top: 15px;
            padding-left: 5px;
            span{
                font-size: 14px;
                cursor: pointer;
            }
            ._delall{
                margin: 0 15px;
                &:hover{
                    text-decoration: underline;
                }
            }
            #shujubao_btn{
                width: 88px;
                height: 26px;
                border: 1px solid #DCDCDC;
                background: #F5F5F5;
                border-radius: 3px;
                cursor: pointer;
                &:hover{
                    background: #dcdcdc;
                }
            }
        }
        .carts_buttom_rights{
            width: 680px;
            height: 100%;
            padding-top: 12px;
            p{
                display: inline-block;
                float: left;
                margin-right: 15px;
                font-size: 14px;
                margin-top: 5px;
                span{
                    color: #bc338b;
                }
            }
            b{
                font-size: 20px;
                color: #bc338b;
            }
            #SettlementCart{
                width: 100px;
                height: 30px;
                background: #bc338b;
                color: white;
                border-radius: 3px;
                margin-left: 15px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
    
}



