#p_inside {
  width: 35px;
  height: 100%;
  background: #07223b;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 120;
}
#p_inside ul {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 120px;
}
#p_inside ul li {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px 0px;
  cursor: pointer;
}
#p_inside ul li:hover {
  background: white;
  color: grey;
}
#p_inside ul li i {
  font-size: 20px;
}
#p_inside ul .cart {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

#pfhoo {
  height: 3000px;
  width: 100%;
  z-index: -1000;
}
#pfhoo #p_top img {
  width: 1314px;
  height: 80px;
}
#pfhoo #xiala {
  position: absolute;
  right: 0;
  top: 0;
}
#pfhoo #p_topnav {
  height: 30px;
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
}
#pfhoo #p_topnav .h_left {
  width: 320px;
  height: 100%;
}
#pfhoo #p_topnav .h_left ul li {
  float: left;
  padding: 0px 5px;
  line-height: 30px;
  font-size: 14px;
}
#pfhoo #p_topnav .h_left ul span:hover {
  color: #cf2985;
}
#pfhoo #p_topnav .h_left ul li:nth-child(2) {
  color: #cf2985;
  cursor: pointer;
}
#pfhoo #p_topnav .h_left ul li:nth-child(3):hover {
  color: #cf2985;
  cursor: pointer;
}
#pfhoo #p_topnav .h_right {
  width: 480px;
  height: 100%;
}
#pfhoo #p_topnav .h_right ul li {
  float: left;
  padding: 0px 10px;
  line-height: 30px;
  font-size: 14px;
}
#pfhoo #p_topnav .h_right ul li:hover {
  color: #cf2985;
  cursor: pointer;
}
#pfhoo #p_topnav .h_right ul #myhu {
  width: 125px;
  position: relative;
}
#pfhoo #p_topnav .h_right ul #myhu #two {
  width: 300px;
  height: 120px;
  border: 1px solid #ccc;
  position: absolute;
  right: 10px;
  color: black;
  display: none;
  background: white;
}
#pfhoo #p_topnav .h_right ul #myhu #two li {
  width: 90px;
}
#pfhoo #p_topnav .h_right ul #shoucangjia {
  width: 90px;
  position: relative;
}
#pfhoo #p_topnav .h_right ul #shoucangjia #scang {
  width: 95px;
  height: 60px;
  border: 1px solid #ccc;
  color: black;
  position: absolute;
  right: 0;
  display: none;
  background: white;
}
#pfhoo #p_topnav .h_right ul #kefu {
  width: 100px;
  position: relative;
}
#pfhoo #p_topnav .h_right ul #kefu #kfu {
  width: 90px;
  height: 60px;
  border: 1px solid #ccc;
  color: black;
  position: absolute;
  right: 0;
  display: none;
  background: white;
}
#pfhoo #p_header {
  height: 150px;
}
#pfhoo #p_header .logo {
  width: 260px;
  height: 100%;
  line-height: 150px;
}
#pfhoo #p_header .searchs {
  width: 500px;
  height: 98px;
  margin-left: 80px;
}
#pfhoo #p_header .searchs #hot-recommended {
  height: 16px;
  margin: 36px 0 5px 0;
}
#pfhoo #p_header .searchs #hot-recommended li {
  float: left;
  font-size: 14px;
  padding: 0 10px;
  color: grey;
}
#pfhoo #p_header .searchs #hot-recommended ._blank:hover {
  color: #cf2985;
  cursor: pointer;
}
#pfhoo #p_header .searchs #search-form {
  font-size: 0;
  height: 40px;
  border: 2px solid #cf2985;
}
#pfhoo #p_header .searchs #search-form #btn1 {
  width: 83px;
  height: 100%;
  background: white;
  border-right: 1px solid #ccc;
}
#pfhoo #p_header .searchs #search-form #s_text {
  width: 311px;
  height: 100%;
}
#pfhoo #p_header .searchs #search-form #btn2 {
  width: 102px;
  height: 100%;
  background: #cf2985;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#pfhoo #p_header .btns {
  width: 350px;
  height: 98px;
  text-align: center;
  color: white;
}
#pfhoo #p_header .btns .gouwu {
  width: 135px;
  height: 40px;
  background: #cf2985;
  margin-left: 30px;
  margin-top: 56px;
  line-height: 40px;
  cursor: pointer;
}
#pfhoo #p_header .btns .shuju {
  width: 135px;
  height: 40px;
  background: #003d89;
  margin-right: 10px;
  margin-top: 56px;
  line-height: 40px;
  cursor: pointer;
}
#pfhoo #p_header .btns i {
  font-size: 18px;
}
#pfhoo #p_nav {
  z-index: 5;
  width: 100%;
  height: 38px;
  border-bottom: 2px solid #cf2985;
}
#pfhoo #p_nav .mainnav_dl {
  position: relative;
  width: 240px;
  height: 36px;
  background: #cf2985;
}
#pfhoo #p_nav .mainnav_dl dt {
  text-align: center;
  width: 240px;
  height: 36px;
}
#pfhoo #p_nav .mainnav_dl dt a {
  color: white;
  font-size: 18px;
  line-height: 36px;
}
#pfhoo #p_nav .mainnav_dl dt a i {
  font-size: 22px;
}
#pfhoo #p_nav .mainnav_dl dt a .sizem {
  font-size: 14px;
}
#pfhoo #p_nav .mainnav_dl dd {
  width: 240px;
  height: 402px;
  position: absolute;
  z-index: 120;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul {
  background: #003e8a;
  position: relative;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li {
  width: 100%;
  height: 155px;
  padding: 10px 50px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li p {
  font-size: 21px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li p i {
  color: #cf2985;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li p a {
  color: white;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li .mainnav_dl-li-div {
  width: 160px;
  height: 92px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul .mainnav_dl-li .mainnav_dl-li-div a {
  font-size: 14px;
  color: white;
  display: inline-block;
  width: 49px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul li:nth-child(2) {
  width: 100%;
  height: 132px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul li:nth-child(3) {
  width: 100%;
  height: 109px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul li:nth-child(3) .mainnav_dl-li-div {
  width: 160px;
  height: 60px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul li:nth-child(3) .mainnav_dl-li-div a {
  width: 75px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu {
  width: 765px;
  height: 400px;
  background: white;
  position: absolute;
  top: 2px;
  left: 240px;
  display: none;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom {
  width: 100%;
  height: 200px;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top div, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom div {
  flex: 1;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_one h1, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_two h1, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_san h1, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_one h1, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_two h1, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_san h1 {
  margin-bottom: 10px;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_one li, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_two li, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_san li, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_one li, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_two li, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_san li {
  float: left;
  width: 65px;
  height: 20px;
  border: 1px dashed #ccc;
  margin: 5px;
  text-align: center;
}
#pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_one li a, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_two li a, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_top .the_san li a, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_one li a, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_two li a, #pfhoo #p_nav .mainnav_dl dd .mainnav_dl-con_ul #twomenu .menu_bottom .the_san li a {
  color: grey;
  font-size: 14px;
}
#pfhoo #p_nav .sidenav {
  width: 700px;
  height: 36px;
}
#pfhoo #p_nav .sidenav li {
  float: left;
  width: 111px;
  text-align: center;
  line-height: 36px;
}
#pfhoo #p_nav .sidenav li a {
  color: black;
}
#pfhoo #p_nav .sidenav li a:hover {
  color: #cf2985;
}
#pfhoo #p_nav .sidenav li:nth-child(1) a {
  color: #cf2985;
}
#pfhoo #p_nav .floatNav {
  width: 210px;
  height: 36px;
}
#pfhoo #p_nav .floatNav li {
  float: left;
  width: 68px;
  height: 36px;
  line-height: 36px;
}
#pfhoo #p_nav .floatNav li a {
  color: black;
  font-size: 14px;
}
#pfhoo .p_entrance {
  width: 210px;
  height: 402px;
  position: absolute;
  right: 50px;
  z-index: 120;
}
#pfhoo .p_entrance .login {
  width: 100%;
  height: 100px;
  background: #003e8a;
  color: white;
  text-align: center;
}
#pfhoo .p_entrance .login h1 {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 5px 0;
}
#pfhoo .p_entrance .login p {
  font-size: 14px;
  padding: 2px 0;
}
#pfhoo .p_entrance .login p button {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  cursor: pointer;
}
#pfhoo .p_entrance .info {
  width: 100%;
  height: 302px;
  background: #f0f0f0;
}
#pfhoo .p_entrance .info li {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px 0 0 5px;
}
#pfhoo .p_entrance .info li .img {
  flex: 1;
}
#pfhoo .p_entrance .info li .wenzi {
  flex: 4;
}
#pfhoo .p_entrance .info li .wenzi h1 {
  font-weight: 600;
  font-size: 14px;
}
#pfhoo .p_entrance .info li .wenzi p {
  font-size: 14px;
  color: #7f7f7f;
}
#pfhoo #sildshow {
  z-index: 2;
}
#pfhoo #main_contents .eShop_content_title {
  height: 31px;
  border-bottom: 2px solid #07223b;
}
#pfhoo #main_contents .eShop_content_title b {
  font-size: 20px;
}
#pfhoo #main_contents .eShop_content_title a {
  font-size: 14px;
  color: #98a5c3;
  line-height: 31px;
}
#pfhoo #main_contents .eShop_content_box {
  display: flex;
  padding-top: 10px;
}
#pfhoo #main_contents .eShop_content_box .eShop_content_left {
  flex: 2;
}
#pfhoo #main_contents .eShop_content_box .eShop_content_left a img {
  height: 525px;
}
#pfhoo #main_contents .eShop_content_box .eShop_content_right {
  flex: 6;
}
#pfhoo #main_contents #xinpin {
  width: 100%;
  height: 596px;
  padding-top: 30px;
}
#pfhoo #main_contents #xinpin .eShop_content_box {
  width: 100%;
  height: 535px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab {
  width: 900px;
  height: 525px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #btn {
  width: 150px;
  height: 44px;
  background: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  margin-right: -5px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab .active {
  background: white !important;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content {
  width: 900px;
  height: 480px;
  display: none;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content .tabs {
  width: 900px;
  height: 480px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content .tabs li {
  float: left;
  width: 225px;
  height: 240px;
  text-align: center;
  padding: 10px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content .tabs li .img img {
  width: 160px;
  height: 160px;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content .tabs li .title {
  color: #666;
  font-size: 14px;
  border-bottom: 1px dashed #ccc;
}
#pfhoo #main_contents #xinpin .eShop_content_box #tab #content .tabs li .price {
  color: #e52d88;
  font-size: 14px;
  margin-top: 10px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables {
  width: 650px;
  height: 539px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #btns {
  width: 108px;
  height: 44px;
  background: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  margin-right: -5px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables .active {
  background: white !important;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents {
  width: 650px;
  height: 539px;
  display: none;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents .tb {
  width: 650px;
  height: 539px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents .tb li {
  float: left;
  width: 216px;
  height: 269px;
  text-align: center;
  padding: 5px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents .tb li .img img {
  width: 160px;
  height: 160px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents .tb li .title {
  color: #666;
  font-size: 14px;
  border-bottom: 1px dashed #ccc;
}
#pfhoo #main_contents .eShop_content #content_right_alike .tables #contents .tb li .price {
  color: #e52d88;
  font-size: 14px;
  margin-top: 10px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights {
  width: 250px;
  height: 539px;
  padding: 0 20px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights .top {
  border-bottom: 2px solid #ccc;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights .top, #pfhoo #main_contents .eShop_content #content_right_alike .rights .bottom {
  width: 100%;
  height: 269px;
  text-align: center;
  padding: 10px 0;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights .top h1, #pfhoo #main_contents .eShop_content #content_right_alike .rights .bottom h1 {
  font-size: 18px;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights .top img, #pfhoo #main_contents .eShop_content #content_right_alike .rights .bottom img {
  width: 140px;
  height: 140px;
  margin: 10px 0;
}
#pfhoo #main_contents .eShop_content #content_right_alike .rights .top p, #pfhoo #main_contents .eShop_content #content_right_alike .rights .bottom p {
  font-size: 14px;
  color: grey;
}
#pfhoo #main_contents #shipin {
  width: 100%;
  height: 610px;
  padding-top: 30px;
}
#pfhoo #main_contents #shipin .eShop_content_box {
  width: 100%;
  height: 549px;
}
#pfhoo #main_contents #shoushi {
  width: 100%;
  height: 610px;
  padding-top: 30px;
}
#pfhoo #main_contents #shoushi .eShop_content_box {
  width: 100%;
  height: 549px;
}
#pfhoo #main_contents #pingtai {
  width: 100%;
  height: 610px;
  padding-top: 30px;
}
#pfhoo #main_contents #pingtai .eShop_content_box {
  width: 100%;
  height: 549px;
}
#pfhoo #main_contents #pinpai {
  width: 100%;
  height: 320px;
  padding-top: 10px;
}
#pfhoo #main_contents #pinpai ul {
  height: 280px;
}
#pfhoo #main_contents #pinpai ul li {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#pfhoo #main_contents #pinpai ul li a:hover img {
  transform: scale(1.2);
}
#pfhoo #main_contents #pinpai ul li a img {
  width: 140px;
  height: 50px;
}
#pfhoo #main_contents #chandi {
  width: 100%;
  height: 235px;
  padding-top: 10px;
}
#pfhoo #main_contents #chandi .eShop_production_list {
  width: 100%;
  height: 184px;
  display: flex;
  padding-top: 10px;
}
#pfhoo #main_contents #chandi .eShop_production_list li {
  flex: 1;
  text-align: center;
}
#pfhoo #main_contents #chandi .eShop_production_list li img {
  width: 92px;
  height: 125px;
}
#pfhoo #main_contents #chandi .eShop_production_list li .eShop_production_title {
  font-size: 14px;
  font-weight: 600;
}
#pfhoo #main_contents #chandi .eShop_production_list li .eShop_production_desc {
  font-size: 14px;
}
#pfhoo #main_contents #hangye {
  width: 100%;
  height: 410px;
  padding-top: 15px;
}
#pfhoo #main_contents #hangye .eShop_info {
  width: 100%;
  height: 342px;
  padding-top: 10px;
}
#pfhoo #main_contents #hangye .eShop_info h3 {
  margin-bottom: 10px;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon {
  display: block;
  width: 100%;
  height: 125px;
  color: black;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon .imgs1 {
  width: 180px;
  height: 125px;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon .imgs1 img {
  width: 180px;
  height: 125px;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon .lists {
  width: 230px;
  height: 95px;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon .lists p {
  color: #989898;
  font-size: 14px;
}
#pfhoo #main_contents #hangye .eShop_info .news_icon .lists .two {
  margin: 10px 0;
  box-sizing: content-box;
}
#pfhoo #main_contents #hangye .eShop_info .news_content {
  width: 100%;
  height: 170px;
}
#pfhoo #main_contents #hangye .eShop_info .news_content li {
  width: 100%;
  height: 34px;
  list-style: disc;
  list-style-position: inside;
  border-bottom: 1px dashed #ccc;
  line-height: 34px;
  position: relative;
}
#pfhoo #main_contents #hangye .eShop_info .news_content li a {
  font-size: 14px;
  color: black;
}
#pfhoo #main_contents #hangye .eShop_info .news_content li a span {
  color: #989898;
  display: inline-block;
  position: absolute;
  right: 0;
}
#pfhoo #main_contents #hangye .eShop_info .eShop_info_left {
  width: 238px;
  height: 100%;
}
#pfhoo #main_contents #hangye .eShop_info .eShop_info_center {
  width: 420px;
  height: 100%;
  margin-left: 35px;
}
#pfhoo #main_contents #hangye .eShop_info .eShop_info_right {
  width: 420px;
  height: 100%;
}
#pfhoo #main_contents #hezuo {
  width: 100%;
  height: 320px;
  padding-top: 10px;
}
#pfhoo #main_contents #hezuo .h_ullist {
  width: 100%;
  height: 280px;
  padding: 10px 0 0 20px;
}
#pfhoo #main_contents #hezuo .h_ullist li {
  float: left;
}
#pfhoo #main_contents #hezuo .h_ullist li a img {
  width: 230px;
  height: 80px;
}
#pfhoo #main_contents #hezuo .h_ullist li a:hover img {
  transform: scale(1.1);
}
#pfhoo #footer {
  width: 100%;
  height: 503px;
  background: #07223b;
}
#pfhoo #footer .footer-main {
  width: 100%;
  height: 274px;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding-top: 20px;
}
#pfhoo #footer .footer-main li {
  flex: 1;
  text-align: center;
}
#pfhoo #footer .footer-main li dl dt {
  color: white;
  margin-bottom: 15px;
}
#pfhoo #footer .footer-main li dl dd a {
  color: white;
  font-size: 14px;
}
#pfhoo #footer .footer-main li dl dd a:hover {
  text-decoration: underline;
}
#pfhoo #footer .footer-main li:nth-child(6) dl dd {
  color: white;
  font-size: 14px;
}
#pfhoo #footer .footer-main li:nth-child(6) dl .tel {
  font-size: 20px;
  font-weight: 600;
  color: #f19f00;
}
#pfhoo #footer .footer-main li:nth-child(7) dl dd {
  color: white;
  font-size: 14px;
}
#pfhoo #footer .copyright {
  width: 100%;
  height: 14px;
  padding: 15px 0;
  text-align: center;
}
#pfhoo #footer .copyright a {
  color: white;
  font-size: 14px;
}
#pfhoo #footer .friendlink {
  width: 100%;
  height: 28px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}
#pfhoo #footer .friendlink a {
  color: white;
  font-size: 12px;
}
#pfhoo #footer .footadd {
  width: 100%;
  height: 82px;
  margin-top: 80px;
}
#pfhoo #footer .footadd ul {
  width: 100%;
  height: 82px;
  padding-left: 150px;
}
#pfhoo #footer .footadd ul li {
  float: left;
  margin-left: 20px;
}

/*# sourceMappingURL=index.css.map */
